<div class="bg-white mx-5 mt-4 border border-primary border-2 rounded-3">
  <p class="bg-sky_blue text-black fs-5 text-center pt-3 rounded-2 fw-light" style="width: 100px; height: 64px;">履歴</p>
  <table class="table table-borderless mt-sm-4 mb-sm-5">
      <tr>
        <th style="width: 12%;"></th>
        <th style="width: 12%;">言語</th>
        <th style="width: 22%;">作成日時</th>
        <th style="width: 15%;">詳細</th>
        <th style="width: 15%;">学習時間</th>
      </tr>
    <% @records.each do |record| %>
      <tr>
        <td></td>
        <td><%= link_to record.language.language, language_path(record.language.id), class: "link-dark" %></td>
        <td><%= record.created_at.to_s(:datetime_jp) %></td>
        <td><%= link_to record.detail.truncate(20), language_record_path(record.language.id, record.id),class: "link-dark" %></td>
        <td><%= record.time %>時間</td>
      </tr>
    <% end %>
  </table>
</div>